@import './old.scss';

.landing {

  @media screen and (min-width: 1900px) {
    .container-fluid {
      max-width: 1552px;
    }
  }

  @media screen and (max-width: 1900px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media screen and (min-width: 992px) {
    font-size: 12px;
  }

  .footer {
    background: #000;
    height: 72px;
  }

  .banner-left {
    padding-top: 7em;

    @media screen and (max-width: 992px) {

      padding-top: 2em;
    }
  }

  .gray-bg {
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 3em 0; 

    h3 {
//       font-size: 29px;
      font-size: 1.813em;
      line-height: 1.5;
    }

    @media screen and (max-width: 992px) {
      padding: 1em 0;

        h3 {
           font-size: 19px;
//            font-size: 1.188em;
        }
    }
  }

  .check-lists {
    padding: 2em;
  }

  ul.check-list {
    list-style: none;
    padding-left: 0;
    line-height: 20px;
    margin: 2em 0;
    

    span {
      display: block;
      overflow: hidden;
      color: #666666;
    }

    li {
      margin-bottom: 1em;
    }

   
    li::before {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.42 17.42"><title>svg-check</title><g id="affbe3f4-c16c-4d54-a8f5-2d5f15d4563c" data-name="Layer 2"><g id="f9724c99-0bb8-40cc-a1d6-fafa28214b24" data-name="Layer 4"><polygon points="12.83 4.83 6.95 10.05 4.74 7.57 3.4 8.76 5.6 11.25 5.6 11.25 6.79 12.59 14.03 6.17 12.83 4.83" fill="%23fa9437"/><path d="M8.71,17.42a8.71,8.71,0,1,1,8.71-8.71A8.72,8.72,0,0,1,8.71,17.42Zm0-15.68a7,7,0,1,0,7,7A7,7,0,0,0,8.71,1.74Z" fill="%23fa9437"/></g></g></svg>');
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      float: left;
      margin-right: .5em;
    }


    @media screen and (max-width: 992px) {
        margin-bottom: 0;
        margin-top: 0;

         li {
          margin-bottom: 1em;
        }
    }
  }

  .col-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  .landing-hero {
    background: url('../images/bg-landing.jpg') 0 0 no-repeat;
    background-size: cover;

    h1 {
//       font-size: 37px;
      font-size: 2.313em;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      letter-spacing: -1px;
      line-height: 1.25;
    }

    h2 {
//       font-size: 48px;
      font-size: 3.000em;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      margin: 1.5em 0;
      text-transform: unset;
      letter-spacing: -1px;
      line-height: 1.5;

      .brand {
        color: #fc9427;
      }
    }

    h3 {
      font-family: 'Poppins', sans-serif;
      margin-bottom: 1em;
      margin-top: 2em;
//       font-size: 22px;
      font-size: 1.375em;
      letter-spacing: -.5px;
    }

    @media screen and (max-width: 992px) {

      background: url('../images/bg-landing-sm.jpg') center 0 no-repeat;
      background-size: cover;
        
        h1 {
         font-size: 19px;
//           font-size: 1.500em;
        }

        h2 {
          font-size: 16px;

          &.guarantee {
            font-size: 26px !important;
          }

//           font-size: 1.188em;

          br {
            display: none;
          }
        }

        h3 {
          font-size: 14px;
          line-height: 1.5;
//           font-size: 1.188em;
        }

        .extra-padding {
          padding: 0 15px;
        }

    }

    form {
      color: #fff;

      p {
        margin-bottom: 0;
      }

      h2 {
        background: rgba(250, 148, 55, .66);
//         font-size: 23px;
        font-size: 1.438em;
        font-family: 'Montserrat', sans-serif;
        padding: 1em 0;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 15px;
      }

      @media screen and (max-width: 992px) {
          
          h2 {
            font-size: 19px;
          }
      }
    }

    .form {
      padding: 0 0 1em;
      max-width: 993px;
      margin: 1em auto;
      padding: 0 !important;

      @media screen and (max-width: 992px) {
        margin-bottom: 0;
      }
    }

    #contact-page .wpcf7-submit {
      margin-top: 0;
      width: auto;
//       font-size: 17px;
      font-size: 1.063em;
      padding: 1em 2em;
      font-family: 'Montserrat', sans-serif;
    }

    .ajax-loader {
      position: absolute;
    }

    p {
      width: auto;
    }

    .flex-col {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    .contact-bottom {
      padding: 0 1.5em 1.5em;
      font-family: 'Montserrat', sans-serif;


      > div {
        display: flex;
        align-items: center;
      }

      
      label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
      }

      span {
//         font-size: 17px;
        font-size: 1.063em;
        font-weight: 400;
      }

      input[type=checkbox] {
        display: none;
      }

      span.wpcf7-list-item-label:after {
        content: "";
        border: 1px solid #fff;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        margin-left: 0.5em;
        vertical-align: middle;
        color: transparent;
      }

      input[type=checkbox]:checked + span.wpcf7-list-item-label:after {
        background: #fc9427;
      }

      input[type=checkbox]:checked + span.wpcf7-list-item-label::before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 6px;
        top: calc(50% + 2px);
        transform: translateY(-50%);
        display: block;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.63 7.76"><title>Asset 2</title><g id="ab85709d-81c3-4404-9b70-ad0f54386007" data-name="Layer 2"><g id="b572d712-adba-4969-bcda-0f35fc1768a7" data-name="Layer 4"><polygon points="9.44 0 3.55 5.22 1.35 2.74 0 3.93 2.2 6.42 2.2 6.42 3.4 7.76 10.63 1.35 9.44 0" fill="%23fff"/></g></g></svg>') no-repeat;
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;

        div {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 1em;

          span.wpcf7-list-item {
            margin-left: 0;
          }
        }
      }

    }

    label {
      display: flex;
      color: #fff;
    }

    span {
      color: #fff;
    }

    .form-group {
      display: flex;

      input[type=text], input[type=email], input[type=tel] {
        background: rgba(204, 204, 204, 0.22);
        color: #fff;
        font-weight: 400;
        padding: 1.5em 1em;
//         font-size: 17px;
        font-size: 1.063em;
      }

      input {
        border-right: 1px solid rgba(255,255,255,0.5);


        &[type=tel] {
          border-right: 0;
        }
      }

      ::placeholder {
        color: #fff; 
      }

      @media screen and (max-width: 992px) {
         flex-direction: column;

         input {
           border: 0;
         }
      }
    }

//     input[type="checkbox"] {
//       width: auto !important;
//       display: inline-block;
//       margin-right: .25em;
//       cursor: pointer;
//       cursor: hand;
//     }

  }


  #top-bar {
    color: #fff;
    background: rgba(0,0,0,0.57);
    padding: 30px 0;

    .text {
//       font-size: 29px;
      font-size: 1.813em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300 !important;
    }

    .btn {
      padding: .90em 5.3em;
      font-weight: 600;
    }

    @media screen and (max-width: 992px) {
      .text {
        font-size: 19px;
        margin-bottom: 1em;
      }

      .btn {
        font-size: 14px;
      }
    }
  }

  .btn {
    width: 100%;
    padding: 14px 0;
    border: none;
    background: #fc9427;
//     font-size: 25px;
    font-size: 1.563em;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .brand {
    color: #fc9427;
  }

  .logo {
    width: 215px;
    height: 215px;
    margin: 2em 0;
  }

  .ribbon {
    background: #fc8c2b;
    color: #fff;

    h3 {
      font-weight: 600;
      margin: .5em 0;
    }
  }


   @media screen and (max-width: 992px) {
      .logo {
        width: 150px;
        height: 150px;
        margin: 1em 0;
      }
   }
}